{% extends "layout.html" %}

{% block page_content %}

<div id="header_text">
<h2>こんにちは。{{ current_user.username }}様</h2>
<h3>???月???日から???月???日の週におけるレコメンドレポートとなります。ご確認ください。</h3>

<h3>また、今回実験協力としてレコメンドレポートを読んでいただいた後、以下のリンクからアンケートにご協力いただけますよう、よろしくお願い致します。</h3>
<h3><a href="#">アンケート回答ページ</a></h3>
</div><!-- #header_text -->

<ul class="list-group">
    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <div class="panel panel-default recommend">
                        <div class="panel-heading">
                            <h3>①エアコン設定温度変更レコメンド</h3>
                        </div><!-- .panel-heading -->
                        <div class="panel-body">
                            <p>あなたのご家庭では、この週、設定温度{{ settemp_graph.make_frequent_temperature()|safe }}℃で最も多くエアコンが運転していました。</p>

                            <p>設定温度をそれよりも高い{{ settemp_graph.make_recommend_temperature()|safe }}℃にしてみてはいかがでしょうか。</p>
                            <p>平均として設定温度を2℃上げると月額約1,500円ほど電気代が安くなります。</p>
                        </div><!-- .panel-body -->
                    </div><!-- .recommend -->
                </div><!-- .col -->
                <div class="col-md-8 graph">
                    <canvas id="settemp"></canvas>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </li><!-- .list-group-item -->

    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <div class="panel panel-default recommend">
                        <div class="panel-heading">
                            <h3>②エアコン使用時間の多い曜日における扇風機利用レコメンド</h3>
                        </div><!-- .panel-heading -->
                        <div class="panel-body">
                            <p>あなたのご家庭では、この週、{{ totaltime_graph.make_top1_weekday()|safe }}曜日・{{ totaltime_graph.make_top2_weekday() }}曜日でのエアコン利用が多いです。</p>
                            <p>これらの曜日で1時間だけエアコンを我慢し、扇風機を使用してみてはいかがでしょう。</p>
                            <p>平均として1日1時間エアコン使用時間を減らすと月額約600円ほど電気代が安くなります。</p>
                        </div><!-- .panel-body -->
                    </div><!-- .recommend -->
                </div><!-- .col -->
                <div class="col-md-8 graph">
                    <canvas id="totaltime"></canvas>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </li><!-- .list-group-item -->

    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <div class="panel panel-default recommend">
                        <div class="panel-heading">
                            <h3>③日中エアコン使用変更レコメンド</h3>
                        </div><!-- .panel-heading -->
                        <div class="panel-body">
                            <p>夏季の昼間の節電にご協力お願い致します！</p>
                            <p>夏場での東京電力管内で電力ピークが発生しやすいのは14時台です。</p>
                            <p></p>
                            <p>あなたのご家庭では、この週、14時台でのエアコン利用率は{{ perhour_graph.find_a_certain_hour_value()|safe }}%でした。</p>
                            <p>節電協力としてこの辺りの時間帯にエアコンを消してお買い物等外出してみてはいかがでしょう。</p>
                        </div><!-- .panel-body -->
                    </div><!-- .recommend -->
                </div><!-- .col -->
                <div class="col-md-8 graph">
                    <canvas id="perhour"></canvas>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </li><!-- .list-group-item -->
</ul><!-- .list-group -->

<div id="footer_text">
<h3>以下のリンクからアンケートにご協力いただけますよう、よろしくお願い致します。</h3>
<h3><a href="#">アンケート回答ページ</a></h3>
</div><!-- #footer_text -->

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script>
    // 1つ目のグラフ用データ 設定温度
	// var settemp_lables = ["18℃", "19℃", "20℃", "21℃", "22℃", "23℃", "24℃", "25℃", "26℃", "27℃", "28℃", "29℃", "30℃"];
    var settemp_lables = {{ settemp_graph.horizontal_axis|safe }};
    // var settemp_data = [0, 0, 0, 0, 0, 0, 0, 30, 60, 10, 0, 0, 0];
    var settemp_data = {{ settemp_graph.virtical_axis|safe }};

    // 2つ目のグラフ用データ 総稼働時間データ
	//var totaltime_lables = ["8月14日(水)", "8月15日(木)", "8月16日(金)", "8月17日(土)", "8月18日(日)", "8月19日(月)", "8月20日(火)"];
    var totaltime_lables = {{ totaltime_graph.horizontal_axis |safe}};
    // var totaltime_data = [65, 59, 80, 81, 56, 55, 48];
    var totaltime_data = {{ totaltime_graph.virtical_axis|safe }};

    // 3つ目のグラフ用データ 単位時間毎利用率データ
    // var perhour_lables = ["0:00", "1:00", "2:00", "3:00", "4:00", "5:00", "6:00", "7:00", "8:00", "9:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00",];
    var perhour_lables = {{ perhour_graph.horizontal_axis|safe }};
    // var perhour_data = [90, 19, 13, 32, 2, 12, 50, 90, 19, 13, 32, 2, 12, 50, 90, 19, 13, 32, 2, 12, 50, 90, 19, 13, 32, 2, 12, 50];
    var perhour_data = {{ perhour_graph.virtical_axis|safe }};

</script>
<script src="/static/js/graphs.js"></script>
{% endblock %}

{% endblock %}
