{% extends "layout.html" %}

{% block page_content %}

<!--
<canvas id="stage"></canvas>
-->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-4">
			<div class="recommend">
				any recommend contents
			</div><!-- .recommend -->
		</div><!-- .col -->
		<div class="col-md-8 graph">
			<canvas id="settemp"></canvas>
		</div><!-- .col -->
	</div><!-- .row -->
</div><!-- .container -->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-4">
			<div class="recommend">
				any recommend contents
			</div><!-- .recommend -->
		</div><!-- .col -->
		<div class="col-md-8 graph">
			<canvas id="totaltime"></canvas>
		</div><!-- .col -->
	</div><!-- .row -->
</div><!-- .container -->

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script>
	var settemp_lables = ["18℃", "19℃", "20℃", "21℃", "22℃", "23℃", "24℃", "25℃", "26℃", "27℃", "28℃", "29℃", "30℃"];
    var settemp_data = [0, 0, 0, 0, 0, 0, 0, 30, 60, 10, 0, 0, 0];

	var time_lables = ["8月14日(水)", "8月15日(木)", "8月16日(金)", "8月17日(土)", "8月18日(日)", "8月19日(月)", "8月20日(日)"];
    var totaltime_data = [65, 59, 80, 81, 56, 55, 48];
</script>
<script src="/static/js/graphs.js"></script>
{% endblock %}

{% endblock %}
